*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


#container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 99.9vh;
    align-items: center;
    background: linear-gradient(45deg,black,blue,black,blue,black);


}
#form{
    
border: 3px solid  rgb(19, 86, 172);
padding: 60px 50px;
border-radius:30px;
background-color: rgb(17, 18, 24);
font-family:Verdana, Geneva, Tahoma, sans-serif ;
color: white;
}
#form input{
  padding: 11px;
  width:250px;  
  border-radius: 6px;
}

#btn{
    background-color: rgb(11, 58, 113);
    border: none;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}

 #form a{
    text-decoration: none;
    color: blue;
    font-weight: bolder;

 }
 #btn:hover{
    background-color: rgb(56, 109, 182);
    cursor: pointer;
   
 }
 #form a:hover{
    text-decoration: none;
    color:white;

 }
 #icon{
    display: flex;
     justify-content: center;
     margin-bottom: 50px;
 }
 
 #titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    

 }

